{% extends 'base.html.twig' %}

{% block title %}Hello {{ page_name }}!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Hello {{ page_name }}! ✅</h1>
    <div class="table-formuls">
        <table class="table table-dark table-striped tb-formuls">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Number</th>
                    <th scope="col">Formula</th>
                    <th scope="col">Var one</th>
                    <th scope="col">Var two</th>
                    <th scope="col">Results</th>
                </tr>
            </thead>
            <tbody>

            {% for formula in formuls %}
                <tr>
                    <th scope="row" class="formula-id">{{ formula.id }}</th>
                    <td>{{ formula.number }}</td>
                    <td>{{ formula.formula }}</td>
                    {#<td>{{ formula.varOne }}</td>#}
                    {#<td>{{ formula.varTwo }}</td>#}
                    <td>
                        <input type="text" class="form-control variable_one" value="{{ formula.varOne }}" aria-label="Username" aria-describedby="basic-addon1">
                    </td>
                    <td>
                        <input type="text" class="form-control variable_two" value="{{ formula.varTwo }}" aria-label="Username" aria-describedby="basic-addon1">
                    </td>
                    <td class="result">{{ formula.varOne + formula.varTwo }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Вывод данных из таблицы</td>
                </tr>
            </tfoot>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(formuls) }}
        </div>
    </div>


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}
</div>
<div class="information wrapper">


</div>
<div class="wrapper clear-button">
    <button class="clear-information btn btn-primary">Clear</button>
</div>

{% endblock %}
